.nav-wrap {
    display: flex;
    justify-content: space-around;
}
.item {
    text-align: center;
    border: solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}